li {
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.card {
  display: flex;
  padding: 7px;
  align-items: center;
}

.content {
  margin-left: 25px;
  width: 300px;
}

.content .description {
  margin-top: 15px;
}

.title-heading {
  text-align: center;
}

.btn {
  position: relative;
  width: 10em;
  height: 8vh;
  padding: 0.1em;
  color: white;
  font-size: 17px;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  top: 15px;
  text-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  font-weight: 700;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
}

.btn:active {
  opacity: 0;
  transition: 0.1s ease;
}

.remove {
  background-color: rgb(240, 52, 52);
  color: white;
}

.remove, .btn-success:hover {
  cursor: pointer;
}

.btn-success {
  background-color: rgb(38, 196, 38);
  color: white;
}

.btn-warning {
  background-color: rgb(240, 164, 24);
  cursor: pointer;
}

.form-control label {
  display: block;
  font-weight: 500;
}

.form-control input, textarea {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  min-height: 2.618em;
  display: block;
  width: 560px;
  font-size: 14px;
  padding: 10px;
}

.form-control input:focus {
  border: 1px solid #9fb1cc;
  outline: #9fb1cc;
  box-shadow: 0 4px 9px 0 #9fb1cc;
}

.form-control textarea:focus {
  border: 1px solid #9fb1cc;
  outline: #9fb1cc;
  box-shadow: 0 4px 9px 0 #9fb1cc;
}